TELEGRAM_BOT_TOKEN=vas_token
GOOGLE_SERVICE_ACCOUNT_EMAIL=vas_email
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GOOGLE_SHEET_ID=vas_sheet_id
TWILIO_ACCOUNT_SID=vas_sid
TWILIO_AUTH_TOKEN=vas_token
TWILIO_PHONE_NUMBER=whatsapp:+14155238886